/****************
     spacing
*****************/

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 2px solid rgb(0, 0, 0);
  }
  
  thead th:nth-child(1) {
    width: 30%;
  }
  
  thead th:nth-child(2) {
    width: 20%;
  }
  
  thead th:nth-child(3) {
    width: 15%;
  }
  
  thead th:nth-child(4) {
    width: 35%;
  }
  
  th, td {
    padding: 5px;
  }

/**********************
     zebra striping 
***********************/

  tbody tr:nth-child(odd) {
    background-color: #ffffff;
  }
  
  tbody tr:nth-child(even) {
    background-color: #cdd0d64f;
  }
  
  table {
    background-color: #ffffff;
  }

  /*************** 
     typography 
  ***************/

html {
    font-family: 'Helvetica', 'Arial','Courier New', 'open sans', 'monospace', 'helvetica neue';
  }
  
  thead th, tfoot th {
    font-family: 'Helvetica', 'Arial';
  }
  
  th {
    letter-spacing: 2px;
  }
  
  td {
    letter-spacing: 1px;
  }
  
  tbody td {
    text-align: left;
  }
  
  tfoot th {
    text-align: right;
  }

/********************
     classes
********************/
* {
  box-sizing: border-box;
}

.column {
  float: left;
  padding: 5px;
}

.left {
width: 25%;
}

.right {
width: 75%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}